[Input]

inputFilesDA = INPUTFILESDA
inputFilesMC = INPUTFILESMC



[Options]

### identify the rereco. Can be: Moriond2013, Winter2013
year = YEAR
dataLabel = DATALABEL

### decide wether to use Globe, Ecalelf or MiBi ntuples
useGlobeNtuple = USEGLOBENTUPLE
useShervinNtuple = USESHERVINNTUPLE

### binning definition
nBinsMee = 1200
meeMin = 0.
meeMax = 3.

### max entries to process (all entries: -1)
maxEntries = -1
MCGen = MCGEN
runDepFlag = RUNDEPFLAG
runMin = 0
runMax = 999999

### decide the eleID level to apply
eleIDSelection = medium

### decide whether to apply or not PU and energy corrections
applyPUWeight        = true
applyEnergyScaleCorr = true
applyEnergySmearing  = true
applyEtaR9Reweighting = false

### can be: stdSC, eleTunedReg, phoTunedReg
enCorrType = ENCORRTYPE

### identify the type of corrections. Can be: shervin, fabrice, andrea
energyScaleCorrType = ENERGYSCALECORRTYPE
energySmearingType  = ENERGYSMEARINGTYPE

### define paths for energy smearings and scale corrections
runRangeFile = /gwpool/users/martelli/ECALStudies_Settembre2013/new/CompareZPeaks/data/runranges_Winter2013.dat
ShervinScaleFile = /gwpool/users/martelli/ECALStudies_Settembre2013/new/CompareZPeaks/data/ShervinFiles/Hgg-scale-rereco22Jan-newMC-regrPhoV5-loose.dat
ShervinSmearingFile = /gwpool/users/martelli/ECALStudies_Settembre2013/new/CompareZPeaks/data/ShervinFiles/Hgg-smearings-rereco22Jan-newMC-regrPhoV5-loose.dat
IJazZGlobalFolder = none
IJazZRunDepFolder = none

### define categorization
### catType can be: CiC, MVA, stdCat
catType = CATTYPE
category = CATEGORY
evtsPerPoint = EVTSPERPOINT
###extHtBinEdges = 60,65,70,75,80,85,90,95,100,120,200
extHtBinEdges0 = 60,70,80,90,100,120,150,1000
extHtBinEdges1 = 60,70,80,90,100,120,150,1000
extHtBinEdges2 = 60,70,80,90,100,120,150,1000
extHtBinEdges3 = 60,70,80,90,100,120,150,1000
###extHtBinEdges0 = 60,70,85,100,120,150,1000
###extHtBinEdges1 = 60,70,85,100,150,500
###extHtBinEdges2 = 60,80,100,140,1000
###extHtBinEdges3 = 60,70,85,100,150,1000


### 
MCClosure = MCCLOSURE
MCHiggs = MCHIGGS


### define cuts
DphiMax = DPHIMAX



[Output]

outFilePath = data/
